<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="24.4.0" targetFramework="net481" />
  <package id="Microsoft.Web.WebView2" version="1.0.2420.47" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
</packages>